{{ define "header" }}

<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>KalibratorGo</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="css/metisMenu.min.css" rel="stylesheet">

<!-- Timeline CSS -->
<link href="css/timeline.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/sb-admin-2.css" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="js/morris.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- Custom Style -->
<link href="css/style.css" rel="stylesheet" type="text/css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div id="wrapper">
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><span id="logo">Kalibrator<b
						id="logo_GO">Go</b></span></a>
			</div>
			<!-- /.navbar-header -->

			<ul class="nav navbar-nav">
				<li><a href="#"><i class="fa fa-link fa-fw"></i>
						Подключения</a></li>
				<li><a href="#"><i class="fa fa-server fa-fw"></i>
						Устройства</a></li>
				<li><a href="#"><i class="fa fa-area-chart fa-fw"></i>
						Данные</a></li>
			</ul>

			<ul class="nav navbar-top-links navbar-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-link fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-messages">
						<li><a href="#">
								<div>
									<strong>/dev/ttyUSB0</strong><span
										class="pull-right text-muted green">X
											<i class="fa fa-signal"></i>
									</span>
								</div>
								<div>QSens serial usb to rs485 converter</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<strong>/dev/rfccomm0</strong><span
										class="pull-right text-muted blue"><i
											class="fa fa-link"></i>
									</span>
								</div>
								<div>BT RFCOMM connection</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<strong>/dev/USB1</strong>
									<span class="pull-right text-muted red">
										<i class="fa fa-unlink"></i>
									</span>
								</div>
								<div>QSens serial usb to rs485 converter</div>
						</a></li>
						<li class="divider"></li>
						<li><a class="text-center" href="#"> <strong>Управление
									подключениями</strong> <i class="fa fa-angle-right"></i>
						</a></li>
					</ul> <!-- /.dropdown-messages --></li>
				<!-- /.dropdown -->
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-server fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-messages">
						<li><a href="#">
								<div>
									<p>
										<strong>USB0:/4</strong><span class="pull-right text-muted green">
											 <i class="fa fa-signal"></i>
										</span>
									</p>
									<div>
										<div>
											<span class="text-muted">Датчик давления (<strong>DB00</strong>)
											</span>
										</div>
									</div>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<p>
										<strong>USB0:/6</strong><span class="pull-right text-muted red">
											<i class="fa fa-unlink"></i>
										</span>
									</p>
									<div>
										<div>
											<span class="text-muted">Датчик давления (<strong>DB00</strong>)
											</span>
										</div>
									</div>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a class="text-center" href="#"> <strong>Все
									устройства</strong> <i class="fa fa-angle-right"></i>
						</a></li>
					</ul> <!-- /.dropdown-tasks --></li>
				<!-- /.dropdown -->
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-heart fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-alerts">
						<li><a href="#">
								<div>
									<i class="fa fa-bookmark fa-fw green"></i> USB0:/4/O/0 <span
										class="pull-right text-muted">748,93</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-bookmark fa-fw green"></i> USB0:/4/O/1 <span
										class="pull-right text-muted">24,56</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-bookmark fa-fw green"></i> USB0:/4/O/2<span
										class="pull-right text-muted">502,36</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-bookmark fa-fw red"></i> USB0:/6/O/0<span
										class="pull-right text-muted">732,57</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-bookmark fa-fw red"></i> USB0:/6/O/1<span
										class="pull-right text-muted">25,38</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a class="text-center" href="#"> <strong>Настроить
									избранное</strong> <i class="fa fa-angle-right"></i>
						</a></li>
					</ul> <!-- /.dropdown-alerts --></li>
				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->
		</nav>

		<!-- End Header -->

		{{ end }}