#logo {
	color: green;
}

#logo_GO {
	color: #3465a4;
	font-weight: bold;
}

span.green {
	color: green;
}

span.blue {
	color: #3465a4;
}

span.red {
	color: red;
}

i.green {
	color: green;
}

i.blue {
	color: #3465a4;
}

i.red {
	color: red;
}